#neos-InlineToolbar-CarbonCBD {
  float: left;
}

[data-__cbd-mode="live"] [data-__cbd-edit],
[data-__cbd-mode="edit"] > :not([data-__cbd-edit]) {
  display: none !important;
}

[data-__cbd-mode="edit"] {
  --cbd-padding: 10px;
  --cbd-border-radius: 5px;

  margin-block: 20px;
  padding: var(--cbd-padding);
  border-radius: var(--cbd-border-radius);
  box-shadow: 0 5px 30px -5px rgb(0 0 0 / 0.25);
}

[data-__cbd-content-collection] {
  min-height: 40px;

  &:empty {
    background: #ff8700;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 40px 12px;
    text-align: center;
    text-decoration: none;
    border-radius: var(--cbd-border-radius);
    margin: calc(var(--cbd-padding) * -1);

    &::after {
      content: attr(data-__cbd-content-collection);
    }
  }
}
