@import "Leaflet.css";

.map--live {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  height: 0;
}

/* This is the map container with a ratio of 16:9 */
.map__canvas--live {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

.map__canvas--edit {
  height: 300px;
  width: 100%;
}

.map-address {
  max-width: 500px;
}
